extends ./layout.jade

block title
	| DSV
	
block body
	- var items = 18
	
	- var lines = items
	- if (lines%3 != 0) lines += 3 - lines%3
	- lines = lines/3
	
	- for (var i = 0; i < items; i++){
		- var height = 100/ lines
		div(class="col-lg-4 stand" style="height:#{height}%;")
			h1 Stand #{i}
	- }
