doctype html
html(lang="en" ng-app="dsv")
	head
		title DSV
			
		meta(name="viewport", content="width=device-width")
		
		link(href="/css/style.css", rel="stylesheet")
		
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstrap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src='/libs/angular-route/angular-route.js')
		script(src='/libs/angular-animate/angular-animate.min.js')
		script(src="/libs/md5/md5.js")
		
		// Socket io
		script(src="/socket.io/socket.io.js")
		script(src="/libs/angular-socket-io/socket.js")
		
		// FitText
		script(src="/libs/ngFitText/dist/ng-FitText.min.js")
		
		// Modules
		script(src='js/services/grafik.js')
		script(src='js/services/timeFuctions.js')
		script(src='js/controllers/main.js')
		script(src='js/controllers/lines.js') 

	body(ng-controller="lines" style="max-height:100%;")
		div(style="height:100%;" ng-hide="hidden == false")
			div(ng-repeat="item in itemList" class="animate top" style="border: solid 1px #dddddd; height:{{100 / size.y}}%; max-height:{{100 / size.y}}%; width:{{100 / size.x}}%; position: relativ; float: left; overflow: hidden;")
				div(style="display: table; height: 100%; display: flex;" ng-if="item.type == 'time'" ng-controller="time")
					//- img(src="./logo.png")
					table
						tr
							td
								h4 Uhr
								h3(data-fittext data-fittext-max="30ex") {{time}}
								h4 {{date}}

				div(style="display: table; height: 100%;" ng-if="item.type == 'noLines'")
					table
						tr
							td
								div(class="alert alert-info" role="alert")
									b Keine Aktiven Stände 
									| Aktuell sind keine Stände Online
									
				div(style="display: table; height: 100%;" ng-if="item.type == 'team'" ng-controller="team")
					div(style="vertical-align: middle; display: table-cell;")
						h2 {{team.verein}} {{team.manschaft}}
						br
						div(class="col-xs-3 teamSum")
							h1(class="thin") {{team.hochrechnung}}
							h2 &Oslash; Ringe
						div(class="col-xs-9")
							div(class="grayBoxp")
								table(class="table")
									tr
										td
											h4 {{team.progress}}%
										td
											h4 {{team.schnitt}} &Oslash;
									tr
										td(colspan="2")
											h2 {{team.gesamt}} Ringe
											
				div(ng-controller="stand" ng-if="item.type == 'line'" style="height: 100%;")
					div(style="display: table; height: 100%;")
						div(class="standLabel")
							h1 {{stand.labelShort}}
						
						div(style="vertical-align: middle; display: table-cell;")
							div(class="col-xs-5" style="max-height:{{size.height}}px; padding:0px;")
								target(zoomlevel="zoomlevel" serie="serie.shots" selectedshotindex="selectedshotindex" scheibe="scheibe" probeecke="probeecke")
							div(class="col-xs-7")
								h2 {{data.user.firstName}} {{data.user.lastName}}
								h4 {{data.user.verein}} {{data.user.manschaft}}
								div(class="grayBoxp paddingTop" ng-hide="session.serien.length == 0")
									table
										tr
											td
												h1 {{activeShot.ring.display}} 
											td
												h6 {{session.anzahl}}.
										tr
											td
												h6 {{session.schnitt}} &Oslash ({{session.schnittCalc}})
											td
												h5 {{session.gesamt}} Ringe
								table(class="table paddingTop")
									tr
										td(ng-repeat="serie in lastSerien track by $index" class="" )
											h5 {{serie.gesamt}}
			
		// Main JS init
		script.
			// env vars
			var scaleFactor = #{config.dsv.scaleFactor};
			var dscGatewayUrl = "#{config.dscGateway.url}"
			
			// init angular app
			angular.module("dsv", [
				"ds.services.grafik",
				"dsv.services.lines", "dsv.controllers.main",
				"ngAnimate",
			]);
