extends ./layout.jade

block title
	| DSV

block body
	table(ng-controller="staende")
		tr(ng-repeat="standLine in staendeList track by $index")
			td(ng-repeat="stand in standLine track by $index")
				div(ng-controller="stand" stand="stand")
					h2 {{stand.label}} - {{session.user.firstName}} {{session.user.lastName}}
					h4 {{session.user.verein}} {{session.user.manschaft}}
					
					div(class="col-xs-4")
						target( zoomlevel="zoomlevel" serie="serie" selectedshotindex="selectedshotindex" scheibe="scheibe" probeecke="probeecke")
					div(class="col-xs-8")
						.col-xs-12
							div(class="grayBox" ng-hide="empty")
								//- span(style='font-size:9vmin; float:left; margin-left:1vw; margin-top:-0.4vw; position:absolute; display:block; transform-origin: 50% 50%; -webkit-transform:rotate({{activeShot.winkel}}deg)' ng-bind-html="activeShot.pfeil")
								table
									tr
										td
											h1 {{activeShot.ring}} 
												small {{activeShot.teiler}} Teiler
										td
											h2 {{schnitt}} &Oslash;
								table
									tr
										td
											h2 {{gesamt}} Ringe
										td
											h2 {{anzahlShots}}.
							ul(class="list-group")
								li(ng-repeat="serieSum in serieSums track by $index" class="col-xs-3 list-group-item" ) {{serieSum}}
							
						//- .col-xs-6
						//- 	.grayBox
						//- 		h3 Aktuelle Serie
						//- 		table
						//- 			tr(ng-repeat="shot in session.serieHistory[session.selection.serie] track by $index" )
						//- 				td {{shot.number}}.
						//- 				td {{shot.ring}}
						//- 				//- td
						//- 				//- 	span(style="margin-top:-2.2vh; display:block; margin-top: 4%; transform-origin: 50% 50%; -webkit-transform:rotate({{shot.winkel}}deg)" ng-bind-html="shot.arrow")
						//- 	
						//- .col-xs-6
						//- 	.grayBox
						//- 		h3 Serien
						//- 		ul(class="list-inline" )
						//- 			li(ng-repeat="serieSum in serieSums track by $index" class="col-xs-3") {{serieSum}}
						
						
						
	script.
		var config = !{JSON.stringify(config)};
		
		angular.module('dsv.services.staende', ["btford.socket-io"])
		.factory('staende', ["socketFactory", function (socketFactory) {
			var staende = []
			
			function watch(stand){
				stand.socket.on("connect", function(){
					stand.isConnected = true
				})
				stand.socket.on("disconnect", function(){
					stand.isConnected = false
				})
			}
			
			for (var key in config.staende){
				var stand = config.staende[key]
				stand.socket = socketFactory({
					ioSocket: io.connect(stand.ip+":"+stand.port)
				})
				
				watch(stand)
				
				staende.push(stand)
			}
			
			return staende; 
		}])
		//- .factory('activeStaendeObj', ["staende", function (staende) {
		//- 	var activeStaendeObj = {
		//- 		updates: [],
		//- 	}
		//- 	
		//- 	var update = function(){
		//- 		activeStaendeObj.activeStaende = []
		//- 		for (var i in staende){
		//- 			if (staende[i].isConnected == true){
		//- 				activeStaendeObj.activeStaende.push(staende[i])
		//- 			}
		//- 		}
		//- 		activeStaendeObj.itemsPerLine = Math.pow(activeStaende.length, 0.5); 
		//- 	}
		//- 	
		//- 	
		//- 	
		//- 	for (i in staende){
		//- 		var stand = staende[i]
		//- 
		//- 		stand.socket.on("connect", function(){
		//- 			update()
		//- 			activeStaendeObj.update.forEach(function(callback){
		//- 				callback()
		//- 			})
		//- 		})
		//- 		stand.socket.on("disconnect", function(){
		//- 			update()
		//- 			activeStaendeObj.update.forEach(function(callback){
		//- 				callback()
		//- 			})
		//- 		})
		//- 	}
		//- 	
		//- 	
		//- 	
		//- 	
		//- 	return activeStaendeObj
		//- }])
		
		
		
		
		angular.module("dsv", [
			"dsv.services.grafik", "dsv.services.staende",
			"dsv.controllers.main",
		])
