doctype html
html(lang="en" ng-app="dsv")
	head
		title 
			block title
			
		meta(name="viewport", content="width=device-width")
		
		link(href="/css/style.css", rel="stylesheet")
		
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstrap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		//- link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src='/libs/angular-route/angular-route.js')
		script(src='/libs/angular-animate/angular-animate.min.js')
		
		
		// Socket io
		script(src="/socket.io/socket.io.js")
		script(src="/libs/angular-socket-io/socket.js")
		
		script(src='js/services/grafik.js')
		//- script(src='js/services/socketio.js')
		script(src='js/controllers/main.js')

	body
		block body
